<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__info">
        Powered by
        <img src="images/superrare.svg" width="108" height="17" alt="">
      </div>
      <ul class="footer__list">
        <li>
          <a class="footer__link" href="" target="_blank">Social network</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Join Us</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Invite friends</a>
        </li>
      </ul>
    </div>
  </div>
</footer>